[2013-09-30 17:05] iamjessklein opened #1 "Create clickable prototype"
For starters, this should be a white labeled version of the CEM work (website, aestimia and openbadger).

[2013-09-30 17:07] iamjessklein opened #2 "Write design brief"
This should be first worked out on the etherpad, reviewed by the project team and then added to the github wiki.

Here is the etherpad: https://openbadges.etherpad.mozilla.org/mozillabadges-designbrief

[2013-10-01 02:43] cmcavoy opened #3 "Framework"
Pull usable pieces from CEM site,
- [ ] email
- [ ] badge award endpoints (will remove modals, but should be able to reuse some bits)

**tentative pages**
- [ ] A single page that describes the Mozilla Summit badge, and allows someone to enter a claim code to get the badge.
- [ ] Given a badge, a page that let's the user push the badge to their backpack.

[2013-10-02 21:00] #1 closed, assigned to mgballard

[2013-10-02 21:00] #2 closed, assigned to nobody

[2013-10-02 21:00] #3 closed, assigned to andrewhayward

[2013-10-02 21:00] cmcavoy opened #4 "Claim code should send to openbadger"
When a user enters a claim code, the claim code should be sent to openbadger, and the badge information should be returned to the user.

[2013-10-02 21:01] cmcavoy opened #5 "User says what email they want the badge awarded to"
After a user is shown the badge they're being given, they enter their email address. The badge is awarded through openbadger to that email address.

[2013-10-02 21:02] cmcavoy opened #6 "User pushes awarded badge to their backpack"

[2013-10-04 21:01] #4 closed, assigned to nobody

[2013-10-04 21:01] #5 closed, assigned to nobody

[2013-10-04 21:01] #6 closed, assigned to nobody

[2013-10-04 21:09] cmcavoy opened #11 "Send to backpack button is big on firefox"
"All my friends have big butt[on]s" - Pee Wee Herman

![screenshot from 2013-10-04 16 07 50](https://f.cloud.github.com/assets/64711/1272882/2ce3acd4-2d39-11e3-95df-df0a79d47786.png)

[2013-10-04 21:11] ghost commented on #11
That's actually the size specified in the design: http://cl.ly/image/1U3N0N3z3U0z

The text wrapping is obviously a problem.  I'll fix that.  Should I shrink the button as well?

[2013-10-04 21:21] ghost commented on #11
Addressed by #12.  I shrunk the button slightly, reduced the font size slightly, and prevented text wrapping.  It's still a pretty big button, though, as specified in the design.

[2013-10-04 21:23] ghost commented on #11
Just a big ol' button.

[2013-10-07 16:22] mgballard opened #13 "The following dependencies do not install on npm install"
Should be added to package > dependencies
- [ ] cookie-jar
- [ ] qs
- [ ] oauth-sign
- [ ] aws-sign
- [ ] hawk
- [ ] aws-sign
- [ ] http-signature
- [ ] node-uuid
- [ ] mime
- [ ] tunnel-agent
- [ ] json-stringify-safe
- [ ] forever-agent
- [ ] form-data

[2013-10-07 16:41] andrewhayward commented on #13
Hmm... none of those are (direct) dependencies though.

[2013-10-07 17:30] mgballard commented on #13
Shouldn't dependencies of dependencies install automatically on npm install?

[2013-10-08 06:33] andrewhayward commented on #13
Perhaps obvious questions, but worth asking:
- Did `npm install` throw up any errors at all?
- Have you tried blowing away your `node_modules` folder, and `npm install`ing again?

[2013-10-11 17:55] #11 closed, assigned to nobody

[2013-10-11 17:56] cmcavoy commented on #13
I think this is unique to your setup @mgballard let's troubleshoot. Closing this for now.

[2013-10-11 17:56] #13 closed, assigned to nobody

[2013-10-11 19:56] cmcavoy opened #14 "Find alternative to Mandrill for OBB emails"
Alternatively, find a way to not include Mandrill links in the emails. We don't want Mandrill tracking the emails.

[2013-10-11 19:57] cmcavoy opened #15 "Create badge list page"
List the badges available.

[2013-10-11 19:57] cmcavoy opened #16 "Design badge list page"

[2013-10-11 19:58] cmcavoy opened #17 "Design theme / brand for site"

[2013-10-11 20:02] cmcavoy opened #18 "Design badge list page for Mozfest"

[2013-10-11 20:02] cmcavoy opened #19 "Build badge list page for Mozfest"

[2013-10-11 20:22] iamjessklein opened #20 "Design badges for Open Badges"

[2013-10-11 20:23] iamjessklein commented on #20
First draft:
![obb-draft1](https://f.cloud.github.com/assets/535012/1317992/ff8ab168-32b2-11e3-8add-e7147c2655ed.png)

[2013-10-11 20:25] iamjessklein commented on #20
badges missing from mockup: Open Badgemaker and Open Bagineer

subtract Model Funder.

I am not loving the orange and yellow color combination and @carlacasilli does not like the diaper.

[2013-10-11 20:55] andrewhayward commented on #14
I'm pretty sure there's a setting somewhere in Mandrill to turn this off. It's supposed to be a 'feature'.

[2013-10-11 21:31] ghost commented on #14
Yep, there totally is.  I went ahead and removed click tracking and open tracking from our account.  Good call!

[2013-10-15 14:47] iamjessklein commented on #15
cc/ @christensenep

[2013-10-15 14:49] #18 closed, assigned to nobody

[2013-10-15 14:49] #19 closed, assigned to nobody

[2013-10-15 15:25] andrewhayward commented on #15
@christensenep - I sort of made a start on this over the weekend, so make sure you update before getting started.

[2013-10-15 18:50] mgballard commented on #16
http://proto.ballard.is/moz/obb/modalless.html

[2013-10-16 17:17] ghost commented on #15
Addressed by #21

[2013-10-16 18:19] iamjessklein commented on #16
cc/ @christensenep

[2013-10-16 19:34] iamjessklein commented on #20
Here is the latest iteration:
![obb3](https://f.cloud.github.com/assets/535012/1346011/e92d76d6-3699-11e3-8adc-df9e947c2b69.png)

[2013-10-16 21:19] iamjessklein commented on #17
![obb-page1](https://f.cloud.github.com/assets/535012/1346933/8e210a32-36a8-11e3-939c-cff64d97d55d.png)
![obb-page2](https://f.cloud.github.com/assets/535012/1346934/8f8a0950-36a8-11e3-9fa0-4b88af4d48c1.png)
![obb-page3](https://f.cloud.github.com/assets/535012/1346935/9140aad8-36a8-11e3-8a26-a05a6dac309f.png)

[2013-10-16 22:06] iamjessklein opened #22 "Design Mailer"

[2013-10-16 22:07] iamjessklein commented on #22
![obb-mailer](https://f.cloud.github.com/assets/535012/1347394/4a64a6e4-36af-11e3-813d-aedae4625539.png)

[2013-10-16 22:07] iamjessklein commented on #22
Of course, all the copy here is placeholder. cc/ @megcolek @christensenep

[2013-10-16 22:17] threeqube commented on #17
Will we have media upload capability for badge applications?

[2013-10-16 22:18] threeqube commented on #20
Ha, I love the evolution of the badgling. :)

[2013-10-16 22:30] iamjessklein commented on #17
I was unclear of the requirements on this - @carlacasilli?

[2013-10-17 21:44] carlacasilli commented on #17
This depends on if we're using aestimia, as I thought we were. We should if we go that route. If claim codes, then we'll own them. @iamjessklein we should talk more about this

[2013-10-17 21:45] carlacasilli commented on #20
Glad that the mortarboard now has a tassel. :hamster: Wondering if the pale yellow bkgrds have gotten too light on this latest iteration?

Also wondering if Mayor McBadge's tophat can look a bit more quirky? @iamjessklein And maybe the two lines on the bottom of the page flow for ecosystem architect are a little busy and can be removed?

And thinking that Badge Orator (that keeps showing up as But

[2013-10-17 21:54] iamjessklein commented on #17
Right, so @christensenep - we should probably be using that media uploader that we used for the CSOL site.

[2013-10-17 22:01] iamjessklein commented on #20
thanks @carlacasilli - might also rethink "badgeling" and use a caterpillar graphic.

[2013-10-18 00:35] cmcavoy commented on #17
I don't think we have enough time to add media upload for MozFest. We only
allowed text evidence for CEM, which saved us a lot of time. I'm up for
discussing with @christensenep & all in the stand tomorrow, but think this
is a stretch goal instead of a requirement for MozFest. Post-Mozfest it's
for sure possible.

On Thu, Oct 17, 2013 at 4:54 PM, iamjessklein notifications@github.comwrote:

##

@c

[2013-10-18 01:27] threeqube commented on #17
What is this PR? https://github.com/mozilla/openbadges-badges/pull/21#issuecomment-26562524

[2013-10-18 02:03] carlacasilli commented on #17
Hey, @cmcavoy didn't we agree that we would use aestimia for these badges? Does text evidence include links? If so, that may work, otherwise, if there's no possibility of letting people upload evidence then it'll be necessary to make these all claim code badges. That's a bummer if we're launching the OBb at MozFest.

[2013-10-18 02:09] carlacasilli commented on #19
What's going on with this issue? Isn't this closed?

[2013-10-18 02:19] threeqube commented on #19
It's closed.

[2013-10-18 14:18] cmcavoy commented on #14
As long as we remove click tracking, Mandrill is fine for now.

[2013-10-18 14:18] #14 closed, assigned to nobody

[2013-10-18 14:21] cmcavoy commented on #17
Offline discussion summary: We're going to use Aestimia, aestimia can
handle text evidence out of the box. The links will be in the text. You'll
have to cut and paste the links, they won't automatically appear as 'links.'

On Thu, Oct 17, 2013 at 9:03 PM, Carla Casilli notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-10-18 15:00] iamjessklein commented on #20
Latest mockups:
![obb-fri](https://f.cloud.github.com/assets/535012/1361351/fcfd452a-3805-11e3-9fc0-f44d3e3d4d7a.png)

[2013-10-18 16:12] carlacasilli commented on #20
Hey, just to loop back on this. Let's try a less radical color or reduce the intensity of the inner hexagon for the pink ones. Looking really good, @iamjessklein

[2013-10-18 16:13] carlacasilli commented on #17
:+1:

[2013-10-22 15:15] iamjessklein commented on #17
Some feedback notes for @christensenep on implementation:
- every so often the badge descriptions are too long, we should limit the #of characters or just display the "short" description on the thumbs, as we did for CSOL.
- The recommendations aren't displaying on the "More Open Badges Badges" section
- Alerts should be in red text with white padding and notifications should be in blue text with w

[2013-10-22 15:19] iamjessklein commented on #22
Updated:
![obb-mailer-revised](https://f.cloud.github.com/assets/535012/1382342/5dff8caa-3b2d-11e3-9dff-9b092f87cbff.png)

[2013-10-22 15:47] iamjessklein commented on #20
Here are the updates:

![badgademic](https://f.cloud.github.com/assets/535012/1382639/393c8950-3b31-11e3-99fe-04254704cfcd.png)
![bagineer](https://f.cloud.github.com/assets/535012/1382640/39430ece-3b31-11e3-814e-d67683a84ca2.png)
![badgespotter](https://f.cloud.github.com/assets/535012/1382642/394686da-3b31-11e3-8af8-6fb9dc182a81.png)
![badgemaker](https://f.cloud.github.com/assets/535012/1382641

[2013-10-22 15:50] #16 closed, assigned to mgballard

[2013-10-22 15:52] iamjessklein commented on #20
on IRC @carlacasilli approved. I am closing the issue.

[2013-10-22 15:52] #20 closed, assigned to iamjessklein

[2013-10-22 15:55] #22 closed, assigned to iamjessklein

[2013-10-22 15:58] carlacasilli commented on #20
:+1:

[2013-10-22 16:03] iamjessklein commented on #17
Reassigning to @christensenep for the implementation notes

[2013-10-22 16:11] #15 closed, assigned to nobody

[2013-10-22 18:05] ghost opened #24 "Improve display on mobile devices"
Currently the site looks pretty crappy on mobile devices (in particular the grid of badges).  It would be nice if this was improved.

[2013-10-22 18:33] iamjessklein commented on #24
Assigning to @xmatthewx

[2013-10-22 18:36] iamjessklein opened #25 "Final copy to be provided"
The current copy on the site was made up by either @christensenep or myself and should be replaced with real copy.

cc/ @threeqube @carlacasilli

[2013-10-22 19:53] xmatthewx commented on #24
fixed the grid of badges and width of claim form. cleaned up the footer though still wondering about how to best handle all those menu items. feels odd to have the support logo between the two menus as currently designed.

[2013-10-22 20:41] threeqube commented on #25
@carlacasilli let me know if you'd like me to help with this.

[2013-10-22 20:51] ghost commented on #17
Regarding the badge description length:  If we want to do the short/long descriptions like we did for CEM, let me know and I will add in support for this.  Otherwise, we'll need to make some of the longer descriptions shorter.

Regarding the recommendations:  ~~These are keyed off of badge categories, and currently none of the badges have any categories, so it can't find other badges to recommend.

[2013-10-22 21:33] iamjessklein commented on #17
Nice, with regards to how to style the notifications, this is what I am thinking of:

![notification](https://f.cloud.github.com/assets/535012/1385634/837acb1e-3b61-11e3-8598-6a5489358c4b.png)

[2013-10-22 21:37] emgollie commented on #25
@carlacasilli @threeqube I can help with this first thing Wed morning if we want to discuss over/after breakfast.

[2013-10-23 06:14] threeqube commented on #17
Talking to @carlacasilli about description. As per conversation with @christensenep I owe him answers to the following:
- short and long descriptions of each open badges badge (or condense current descriptions as they are too long) - need @carlacasilli for this (or at least direction so I can help)
- a decision on whether we'll make open badges badges a different issuer or a different program
- if

[2013-10-23 06:15] threeqube commented on #22
@carlacasilli I can help with copy. Let me know.

[2013-10-23 09:19] carlacasilli commented on #22
@threeqube  and @emgollie please take a crack at this. I can't find the mailer copy that I wrote earlier.

[2013-10-23 09:54] emgollie commented on #22
SUBJECT LINE:
You've earned the [Badge name] badge! Send it to your Backpack.

HEADER:
Bravo!
A new Open Badge is yours for the taking

BODY COPY:
Congratulations. You've earned an Open Badge that you can share with your networks.

I want to send this badge to my Mozilla Backpack [http://backpack.openbadges.org].
[Badge Name]
[Badge Description]
Make this badge mine!

FOOTER
Please reach out to us

[2013-10-23 10:28] emgollie commented on #25
Thoughts? Copy per http://obb-dev.herokuapp.com/badges:

DESCRIPTION
Welcome to the home for Open Badges badges. These badges are intended to recognize people who are leading and growing this ecosystem. Mozilla designed these badges to celebrate these individuals' commitment to openness and involvement in Open Badges.

To learn about ways that you might participate and earn these badges, [action].

[2013-10-23 11:06] cmcavoy opened #28 "Build theme for OpenBadger instance"
mozilla/openbadger#314

There's currently a copy of CEM theme checked into `v2.0`. I changed some names, but haven't fixed CSS. If we can just remove CEM graphics from that theme for MozFest, that would be awesome.

[2013-10-23 11:12] cmcavoy commented on #28
@iamjessklein can you reassign?

[2013-10-23 11:47] carlacasilli commented on #17
Have written a short description for the MOBb and @jadeforester will be inputting this per @threeqube directions.

https://docs.google.com/spreadsheet/ccc?key=0AnUOR-0CBMsTdDFGa05tUlQzMDZzLVFZWmJfZHR1UXc#gid=4

[2013-10-23 11:50] cmcavoy commented on #17
Just to be clear, @christensenep is going to:
- [ ] show short descriptions when you click on the badge.

[2013-10-23 11:52] carlacasilli commented on #25
A possible rewrite:

Welcome to the home for Mozilla Open Badges badges. These initial set of badges celebrate the dynamic community members involved in leading, building, and growing the open badges ecosystem: the evangelists, thinkers and doers. They represent different forms of individual commitment to openness in areas such as assessment, peer-review, technology, and alternative credentialing.

[2013-10-23 11:59] emgollie commented on #25
The URL is http://badges.openbadges.org, but people will be on that page already when they read this. Updated:

Welcome to the home for Mozilla Open Badges badges. This initial set of badges celebrates the dynamic community members involved in leading, building, and growing the Open Badges ecosystem. They represent different forms of individual commitment to openness in areas such as assessment, p

[2013-10-23 12:18] carlacasilli commented on #25
:+1:  :smile_cat:

[2013-10-23 13:58] threeqube commented on #17
Just to round out:

We agreed on the following:
- short and long descriptions of each open badges badge - These will be input into badger.openbadges.org using the same convention as we did for CEM, separated by an "*". All short and long open badges badges descriptions should be input by the time it's Erik's morning.
- a decision on whether we'll make open badges badges a different issuer or a dif

[2013-10-23 14:00] jadeforester commented on #17
All input with Carla's revisions, short/long descriptions and under new program "Open Badges Badges."

-Jade

Jade Forester
Global Coordinator + Liaison
Mozilla Foundation
http://openbadges.org
@openbadges | @jade_forester

On Oct 23, 2013, at 2:58 PM, threeqube wrote:

[2013-10-23 16:52] carlacasilli commented on #22
:+1:

[2013-10-24 09:32] emgollie commented on #25
Hi friends, I think this copy looks too lengthy on the page: http://badges.openbadges.org/badges. Knowing that we might be too time-crunched to create a separate About page, should we consider a) trimming the intro copy to one short paragraph, or b) having the bulk of the copy live below the viewable badges? I think we want to get people to claim badges and view them sooner. Thoughts?

[2013-10-24 10:15] threeqube commented on #25
Agreed, don't think this is working well aesthetically.

[2013-10-24 10:24] emgollie commented on #25
Discussed with @cmcavoy @threeqube. Thanks for implementing these changes @cmcavoy.

HOMEPAGE HEADER COPY:

Mozilla Open Badges badges celebrate people who are leading & building this global community. Learn more [link to Welcome page: badges.openbadges.org/welcome].

NEW "WELCOME" PAGE COPY (left justify copy if possible):

Welcome to the home for Open Badges badges. This initial set of badges re

[2013-10-24 11:04] emgollie commented on #22
Request re: MozFest badge communications via @carlacasilli: Is it possible to have MozFest badge emails (not Open Badges badge emails) CTA (Make this badge mine! >>) go to http://badges.openbadges.org/claim instead of http://badges.openbadges.org/badges? The Open Badges badge explanation and content is confusing when you're hitting it from a MozFest badge.

[2013-10-24 11:13] cmcavoy commented on #25
Filed this as a pull request (#31) but went ahead and pushed it live in the interest of time.

[2013-10-24 11:16] cmcavoy commented on #24
Looking much better...

It's still hard to select the individual badges,

![screenshot from 2013-10-24 12 15 31](https://f.cloud.github.com/assets/64711/1398300/aff11d50-3c9d-11e3-9f33-875d459a2b4c.png)

[2013-10-24 11:18] cmcavoy commented on #24
The individual badge page is aligned funny,

![screenshot from 2013-10-24 12 17 19](https://f.cloud.github.com/assets/64711/1398316/0b65c73a-3c9e-11e3-8d0b-746a0c5b3ab4.png)

[2013-10-24 11:34] carlacasilli commented on #25
Not sure why we're making people click on a link for the content that we're putting into a modal. Let's trim the content to this:

Welcome to the home for Open Badges badges. Join the evangelists, thinkers, and doers leading this global community. Come back to see new badge-earning opportunities as they become available to participate in the system as it grows!

Then there's no need for a modal (#

[2013-10-24 11:38] carlacasilli opened #32 "email claim bug"
Moving to the appropriate repo: IGNORE

The email for claiming a MozFest badge is showing code where it should be showing the badge description:

![screen shot 2013-10-24 at 3 53 38 am](https://f.cloud.github.com/assets/1039302/1398414/ced23238-3ca0-11e3-9643-91b668987975.png)

[2013-10-24 11:45] carlacasilli commented on #17
@iamjessklein + @mgballard does this branding extend to the criteria pages, yet? I just claimed a mozfest badge and saw the CEM branding.

![screen shot 2013-10-24 at 3 50 29 am](https://f.cloud.github.com/assets/1039302/1398463/c62f1bf4-3ca1-11e3-89ac-33c4091e35c4.png)

[2013-10-24 12:28] emgollie commented on #25
Discussed with @carlacasilli.

Welcome to the home for Open Badges badges. Join the evangelists, thinkers, and doers who are building this global community. Come back to see new badge-earning opportunities and participate in the system as it grows!

[2013-10-24 13:03] carlacasilli commented on #25
:+1:

[2013-10-24 13:03] #25 closed, assigned to threeqube

[2013-10-25 11:18] threeqube commented on #17
@mgballard any update on this?

[2013-10-25 13:02] threeqube commented on #32
Clickable url should be this: http://badges.openbadges.org/badges#badgeaccept=mozfest-reveler&email=threeqube27%40gmail.com

[2013-10-25 15:55] ghost commented on #32
This is fixed by #33 (both the _|BADGEDESC|_ issue and the email link).  Up for testing at obb-dev.herokuapp.com.

[2013-10-27 09:58] threeqube commented on #17
This is done. A little weird home and logout menu items but good for now.

![screen shot 2013-10-27 at 9 52 04 am](https://f.cloud.github.com/assets/1424627/1415255/5cdc11c6-3eee-11e3-9e89-98ac29ee6cb6.png)

[2013-10-27 09:58] #17 closed, assigned to nobody

[2013-10-27 10:01] #32 closed, assigned to nobody

[2013-10-27 17:43] stenington opened #34 "Claim email being rejected"
A MozFest user was entering an email of the pattern `foo_bar@hotmail.fr` to claim the Designer badge, and getting an error that a valid email must be used. After a cursory investigation I don't see any validators/regexes that would obviously reject that, so BUG FILED.

[2013-11-05 13:25] iamjessklein commented on #24
I'm wondering if an adjustment to the font size in mobile might improve legibility. Also, agree that the icon should not be right justified.

[2013-11-08 20:01] carlacasilli commented on #24
+1 on decreasing the font size and could the icon be centered?

[2013-11-13 22:40] stenington opened #35 "Expanded badge claim"
@xmatthewx's mockup in mozilla/openbadges#947 contains several improvements to badge claiming that would really go in this codebase.

I think the main bits are:
- [ ] #36  1-2-3 claim flow
- [ ] #37 offer baked badge download
- [ ] #38 add social sharing from claim site (no backpack)
- [ ] #39 add embed instructions/snippet

I expect as we dive into these we'll see knock-on effects that require us

[2013-11-14 03:23] threeqube commented on #35
Agreed. :+1:

[2013-11-14 15:21] stenington commented on #35
@andrewhayward asks:

It looks great, I have two niggles with the flipping badge:

What happens if/when the 'brief description' is not brief enough?
- Do we lose text?
- Do we have a back that's bigger than the front?
- Something else?

The information is currently not keyboard accessible. It's a prototype, so not the end of the world, but we need to make sure that when we go into production these

[2013-11-14 15:22] stenington commented on #35
So I think @xmatthewx's comment that the mockup is more UX than UI means all of these are valid questions that we'll spend time answering, and may very well end up moving away from the flip design, which is fine by me. It's flashy and neat, but not the best for accessibility so I'm fine ditching it, fwiw.

[2013-11-14 16:27] stenington commented on #35
I'm going to ticket out the checklist items so each can be discussed in detail.

[2013-11-14 16:30] stenington opened #36 "1-2-3 claim flow"
Claim page should have breadcrumbs with
1. claim
2. store
3. show

Initially claim panel can be more or less as-is now (I think), store panel could just have backpack button and "what's backpack" help item, show could be placeholder panel.

[2013-11-14 16:32] stenington opened #37 "offer baked badge download after claim"
After #36, this will be offered from the "store" panel on the claim page.

I don't think `openbadges-badges` should actually do the baking... either openbadger should, or we should hit the bakery/backpack baking service.

[2013-11-14 16:37] stenington opened #38 "social sharing for claimed badges"
After #36 this will live on the show panel.

I think step 1 is figuring out what gets shared. I'd recommend for the first pass we strike a balance between sharing something with enough information that it's meaningful (i.e. show the metadata, maybe an indicator of ownership) but not getting too fancy with the social site integration (i.e. no deep facebook opengraph integration).

[2013-11-14 16:41] stenington opened #39 "claimed badge embedding"
After #36, this will also live on the show panel alongside #38.

[This](https://github.com/stenington/sash) is an example of how such a thing might work, although I think maybe there's some design work to be done on what the embedded badge should look like, and some technical discussion about how to best accomplish that.

[2013-11-14 18:05] xmatthewx commented on #36
Design team had some feedback on the breadcrumb language. _Store_ is boring. _Use_ rather than _Show_ expands the possibilities (at least in theory).
- Claim, Store, Show
- Claim, Keep, Show
- Claim It, Collect It, Use It

[2013-11-14 18:07] xmatthewx commented on #36
Another question for consideration: since claim pages are sometimes heavily designed and branded for an event, do they include the breadcrumbs?

[2013-11-14 18:23] xmatthewx commented on #38
Agreed on step one. I do think we can offer two distinct options:
- show a baked badge with basic embed
- simply share the news on twitter etc: "I earned the Long-titled Badge from Mozfest #OpenBadges." Maybe include a link to the issuer.

This gives most every earner something to do that spreads the word on their new badge and openbadges.

[2013-11-14 22:34] threeqube commented on #36
I kinda like this. But not in love with "use" frankly. cc/ @iamjessklein @megcolek

[2013-11-14 22:36] threeqube commented on #38
:+1: works for me.

We should have in back of mind deeper social integration though.

[2013-11-15 15:33] stenington commented on #38
An interesting option for the twitter etc. sharing could be to link to a page somewhere that unpacks all the metadata of the badge, including links to the issuer, criteria, evidence, etc. and displays it nicely.

[2013-11-15 15:37] stenington commented on #36
I also have a question about moving back and forth between the panels. Moving from **claim** to **collect** is pretty straightforward once the user has claimed their badge (which is pretty much a one-time deal) but then I could imagine a person might want to both download their badge and send it to their backpack, before then moving on to **use**.

Anyway, I think there's a slight asymmetry betwee

[2013-11-15 18:38] xmatthewx commented on #36
After Claim, an earner has two options with Collect:

a) **Push to Backpack** -  Ideally, backpack will provide a [badge-centric view](http://moz.ideapublic.org/123/backpack.html) following a push with options to download/display and add to collections.

b) **Download** - Downloading then provides [display instructions](http://moz.ideapublic.org/123/show.html). I added a link to backpack for anyon

[2013-11-15 18:59] threeqube commented on #38
@stenington I like the idea in theory but I'm having a hard time visualizing this...

[2013-11-18 17:36] emgollie commented on #36
I'm a little late to this conversation, forgive me. "Collect" to me suggests a mindset of "the more badges, the better!", which I think we want to avoid (personal meaning > quantity). What about "Claim It | Manage | Use It"?

[2013-11-18 17:39] emgollie commented on #38
@stenington I really like that! I think we would want to have the Twitter et al messaging correspond: "Unpack the Long-titled Badge I just earned from Mozfest #OpenBadges" or something that is action-oriented on the part of the consumer.

[2013-11-18 23:24] chloeatplay commented on #36
Just clicked through prototype, great work! Two things; 1,2,3 indicator dissappears at last screen (Show). Still a bit confused with button placement and page breakdown in 2 (Collect)- with the line division and 2 buttons. But that might be something you are planning to address later on :)

[2013-11-19 03:26] iamjessklein commented on #36
This looks great @xmatthewx - the flow is definitely improved.
I am wondering if you should de-prioritize one of the buttons, so that there is a clear call to action.
The main competition that I see here is between the stepped navigation (which is telling the user to go through a flow) and the two buttons at the bottom of the screen (which interrupts that flow).

I think that my mental model here

[2013-11-19 04:09] iamjessklein commented on #35
:+1:

[2013-11-19 04:11] iamjessklein commented on #39
+1 @stenington  out of curiosity, have you gotten any feedback regarding accessibility? I am wondering about legibility as well as how this translates on mobile devices? (all questions that speak to potential design implications).

[2013-11-21 20:36] stenington commented on #39
@iamjessklein Yeah, the relative inaccessibility of the flip card has been raised, and I'm happy to ditch it for something that works for a broader audience. I'm not sure what you mean by legibility, but I guess I was referring to `sash` more as a technical reference for how it could work. Getting a designer to think through the presentation thoroughly would be cool.

[2013-11-21 22:35] stenington commented on #37
We could also potentially use https://github.com/toolness/openbadges-instabaker.js although I'm a little concerned about what happens with non-modern browsers.

[2013-11-21 22:41] cmcavoy commented on #37
We could switch it off for old browsers...

On Thu, Nov 21, 2013 at 4:35 PM, Mike Larsson notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-11-21 22:55] stenington commented on #37
Yeah, so I think the way it's written is that it doesn't try to bake until you mouse over the image. It might be odd to offer a "download" button that changes to "nevermind" when they mouse over and baking fails, or whatever.

I guess maybe we could make the mouseover behavior configurable and just attempt to bake immediately, bailing out and showing nothing if it fails.

[2013-11-22 18:01] carlacasilli commented on #39
Glad that we're addressing the flip aspect. This felt complicated to me from a user perspective.

[2013-11-22 18:03] carlacasilli commented on #34
Hey, I'm curious about this bug, is it that we're looking for .com or similar address endings? I hope we're not excluding folks with email addresses from other countries.

[2013-11-22 18:04] carlacasilli commented on #38
@stenington would the content from that link exist in the backpack? Or is this pointing back to the issuer's site?

[2013-11-22 18:30] stenington commented on #38
@carlacasilli Well ideally I'd like it to point to a 3rd party site that exists solely to take pointers to badges, find their metadata, and display that in a nice way. I think that lets it be the most reusable... sort of like an imgur.com for badges.

[2013-11-22 18:33] stenington commented on #36
#41 has gone in which provides a basic version of this. Sounds like it's still being discussed though, so I won't close this ticket yet, although it'll make my life easier if future changes to the 1-2-3 claim flow are requested in new tickets.

[2013-11-22 22:18] iamjessklein commented on #36
agreed - don't close this ticket yet. Two things are still being discussed:
1. should we continue to include the "1 - 2 - 3" visual cues or is this an over- designed treatment?
2. in the event that someone is already in fact logged in to their back via persona - we are considering an entirely different kind of claim for that is more personalized for that user.

[2013-11-22 22:23] iamjessklein commented on #37
Is the reason behind your thinking processing speed or something else?

[2013-11-22 22:25] iamjessklein commented on #39
@xmatthewx - can you take a look at the interaction design involved here?

[2013-11-22 22:31] iamjessklein commented on #38
So this is a personalized page - a la blahblahbla.com/jess/badgename that:
1. links to the criteria url
2. links to the issuer
3. displays the link to the evidence page for the badge - if made public(?)

correct?

[2013-11-22 23:14] threeqube commented on #36
I like this. :+1:

[2013-11-22 23:40] carlacasilli commented on #36
Hey, @iamjessklein the 1-2-3 steps feel useful to me, although the visual representation of them feels a little awkward. Perhaps drop the outer lines that lead into 1-2-3?

Also, I'm somewhat confused by terms, "claim, collect, show." For me, collect is a confusing term: I don't know what I'm collecting since I'm only working with one badge at a time and collect feels like a grouping verb. Reading

[2013-11-22 23:50] carlacasilli commented on #38
Sounds like a great idea. What do we do in the meantime while that site doesn't exist, @stenington ? And @iamjessklein I'm hoping for right now, the link to the criteria URL and the issuer are going to the same place. Once that gets divided up (and, no doubt it will), skeptics are going to get nervous. Also, the process becomes more complicated.

[2013-11-22 23:55] threeqube commented on #38
@carlacasilli would you mind elaborating on this? Not sure I quite understand where the skeptics get nervous and the complication ensues.

[2013-11-23 00:01] carlacasilli commented on #38
@threeqube If we have links that go to different places for one badge, it makes it that much more complicated for someone to validate a badge. It requires multiple checks to verify. Not a problem if this is all handled by orgs that do this for $$$ but for the casual user or small business owner, the requirements multiply and the process becomes complicated.

[2013-11-23 00:07] threeqube commented on #38
@carlacasilli But according to @stenington above, "Well ideally I'd like it to point to a 3rd party site that exists solely to take pointers to badges, find their metadata, and display that in a nice way."

So we'll find this stuff and display it for the folks who are seeking this info, no?

[2013-11-23 00:09] carlacasilli commented on #38
@threeqube Does that exist or are we creating it? Who is the 3rd party?

[2013-11-23 00:19] threeqube commented on #38
@carlacasilli doesn't exist. We have to create something.

[2013-11-25 13:36] iamjessklein commented on #36
@carlacasilli right - we need to explore that with the actual ui design (we haven't explored the treatment yet).
I also like the "manage" suggestion.

[2013-11-25 13:39] iamjessklein commented on #38
I am curious if this:

"Well ideally I'd like it to point to a 3rd party site that exists solely to take pointers to badges, find their metadata, and display that in a nice way."

is related to the badge directory concept.
 http://jessicaklein.blogspot.com/2013/11/badge-directory-yelp-for-badges.html

[2013-11-25 21:49] stenington commented on #37
I _think_ the logic behind baking on mouseover was not to overly tax the client if a page loads 500 badges by baking all of them immediately, even if some are hidden or all the user wants to do is go to the next page or whatever, but bake "on demand" as it were.

However in this case there will just be one badge on the page, so baking immediately seems fine.

[2013-11-25 22:11] stenington commented on #38
I think we would build it. We've built something very much like what I'm thinking of in the badge bakery with the "unbake" functionality. The display is ugly right now; the metadata just gets dumped to the page. But from a technical standpoint it's basically the sort of thing I'm talking about, and we can certainly make a nicer display.

By "third party site" I didn't mean an actual 3rd party woul

[2013-11-26 01:19] threeqube commented on #36
Ok friends, where are we netting out here?

Claim <-- I think we all agree on this one
Collect / Manage ?
Share / Show ?

[2013-11-26 01:21] threeqube commented on #37
Agreed.

[2013-11-26 04:58] carlacasilli commented on #36
Claim :+1:
Manage :+1:
Share :+1:

[2013-11-26 05:01] carlacasilli commented on #38
aha! thanks for the clarification, @stenington! :poultry_leg:

[2013-11-26 05:23] emgollie commented on #36
What @carlacasilli said!

[2013-11-26 21:25] threeqube opened #42 "Design UX around badge metadata display in the wild when shared across the web"
@stenington has given this a lot of thought already as can be seen in this reference ticket: https://github.com/mozilla/openbadges-badges/issues/38#issuecomment-29096975

We should design badge metadata display best practices with open badges badges as our exemplar.

cc/ @iamjessklein

[2013-11-26 23:07] xmatthewx commented on #36
I worry that Manage sounds tedious and/or boring.

Consider the first-time badge earner and their new exciting experience. First task after claiming... Manage? Also, you can't do anything at this stage but save it. Manage sounds like so much more.

I think Collect makes sense. You get a card in cereal box. Collect all four! Got a new badge in your backpack? Add it to a collection. Alternatively:

[2013-11-26 23:33] emgollie commented on #36
I understand what you're saying @xmatthewx. I have concerns that "collect" and "gather" send a message that badges are made to be sought en masse and hoarded. We think of earners less as "collectors" than active learners who are putting badges (which they seek selectively) to work for them.

"Keep" and "Share" seem to be at odds with each other and may come across as opposing components of privacy

[2013-11-27 00:04] threeqube commented on #36
I'm gonna let y'all talk this through. But let's make a decision soon.

It seems like now
Claim :+1:
Manage / Collect <-- this is still controversial
Share :+1:

[2013-11-27 16:24] iamjessklein commented on #36
Manage sounds the most obvious in terms of mental models around what you expect to do when you get to that page.

[2013-11-27 16:55] emgollie commented on #36
On today's research/badge system design call, our guest presenter raised the question of "how to we encourage a culture of learning in a world that emphasizes earning?" Good food for thought.

@xmatthewx: How do you recommend proceeding? We could also put "Manage" into the mockups and test alternate options with Backpack users.

[2013-11-28 17:55] carlacasilli commented on #42
Just curious what this means:

"We should design badge metadata display best practices with open badges badges as our exemplar."

I'm curious because I've been thinking about two different sorts of badge definitions: one aimed at potential badge earners and one aimed at potential badge consumers. They are different audiences and I'd like to suggest that we begin addressing them from their differen

[2013-12-01 01:36] threeqube commented on #42
When someone shares their open badges badge on the web, say on their blog, what is the experience for when someone clicks on that badge to understand the information behind it? I'm hoping we can define that experience as best practices of badge display in the wild. Hope that clarifies.

This is a great point.

[2013-12-01 22:25] emgollie commented on #36
In thinking about this flow, I thought the new Creative Commons license steps were easy and potentially worth referencing: https://creativecommons.org/choose/

[2013-12-02 21:22] xmatthewx commented on #37
@stenington Is it possible to check whether someone has a backpack before loading this screen? If so, we could frame downloading and pushing to backpack differently.

[2013-12-02 21:27] xmatthewx commented on #36
Thanks for the link @emgollie.

"Claim, Manage, Share" seems like nearest to consensus. I recommend we close this ticket. This will be so easy to change later after trying it in the wild.

[2013-12-02 23:22] emgollie commented on #36
Second the move to close. Thanks @xmatthewx.

[2013-12-02 23:22] #36 closed, assigned to nobody

[2013-12-03 00:43] threeqube opened #43 "claim 1-2-3 flow copy update"
As per https://github.com/mozilla/openbadges-badges/pull/41#issuecomment-29246190 new ticket for updating copy for claim 1-2-3 flow.

Should be:
- Claim
- Manage
- Share

as per https://github.com/mozilla/openbadges-badges/issues/36#issuecomment-29659294

[2013-12-03 00:44] threeqube commented on #36
Copy ticket created for @stenington https://github.com/mozilla/openbadges-badges/issues/43

[2013-12-04 17:19] iamjessklein commented on #42
:+1:

[2013-12-04 21:32] carlacasilli commented on #42
Yes, glad that we're moving toward defining appropriate ways to display badges! :+1:

[2013-12-05 17:47] cmcavoy opened #44 "Email alert when someone applies for a badges"
When someone applies for a badge, send an email to assessors so they can review.

[2013-12-06 00:59] threeqube commented on #44
This will be determined by account settings, no?

One can opt to have this feature turned on or off, right?

[2013-12-06 04:42] carlacasilli opened #45 "badges.openbadges.org leads to an error page"
This url: http://badges.openbadges.org/badges is throwing an error. Shouldn't this show all of the possible open badges badges?

[2013-12-06 04:49] carlacasilli commented on #44
Hey, I can't seem to login to http://badger.openbadges.org/admin. It's giving me an error page: is this just me or is this a bug?

[2013-12-06 05:11] cmcavoy commented on #44
@threeqube this repo is for openbadges badges...the feature is just so we
know when someone has applied for a badge. This isn't a badgekit feature.

On Thu, Dec 5, 2013 at 6:59 PM, threeqube notifications@github.com wrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-12-06 05:12] cmcavoy commented on #44
@carlacasilli looks like the database is down again on Heroku...will
investigate in the morning.

On Thu, Dec 5, 2013 at 10:49 PM, Carla Casilli notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-12-06 06:42] threeqube commented on #44
@cmcavoy gotcha! Makes sense.

[2013-12-06 16:37] carlacasilli commented on #44
@cmcavoy okay, thanks! I wanted to get on those badges that were outstanding, after your reminder. :watch: :smile:

[2013-12-06 17:24] threeqube commented on #45
Yes it should. So weird. I _just_ checked this and it was working. cc/ @cmcavoy

[2013-12-06 20:56] carlacasilli commented on #45
Still getting an error.
![screen shot 2013-12-06 at 12 54 49 pm](https://f.cloud.github.com/assets/1039302/1695839/3aa9b69a-5eb9-11e3-8472-3dae228a747a.gif)

[2013-12-06 21:11] carlacasilli commented on #44
Just adding screenshot of the error:
![screen shot 2013-12-06 at 1 10 14 pm](https://f.cloud.github.com/assets/1039302/1695942/e66938c4-5eba-11e3-80ea-4448bbd8643e.png)

[2013-12-06 21:40] cmcavoy commented on #45
Fixed! Openbadger was down.

[2013-12-06 21:40] #45 closed, assigned to nobody

[2013-12-06 21:57] cmcavoy commented on #44
fixed!

[2013-12-06 21:57] #44 closed, assigned to nobody

[2014-02-23 17:56] cmcavoy opened #46 "Move to BadgeKit"
Data migration happening in [BadgeKit](mozilla/openbadges-badgekit#193).
- [ ] move badge listings
- [ ] move evidence submission / application
- [ ] move webhooks
- [ ] move badge awarding after evidence assessment
- [ ] move claimcode acceptance

[2014-05-09 15:15] cmcavoy opened #49 "Badge Claim doesn't work?"
When I issue by email via Badgekit, the email goes through. The link in the email is something like

`http://badges.openbadges.org/share?email=chris.mcavoy%40gmail.com&badgeSlug=foob-(friend-of-open-badges)`

That page has a "push to backpack" button. When I click it, it takes me to a page that says "share the good news!" I never see the issuer api flow from the backpack.

[2014-11-14 03:40] cmcavoy commented on #49
This is still an issue. Going to look at it soon.

[2014-11-14 03:41] cmcavoy commented on #49
The button is posting to http://backpack.openbadges.org/issuer/frameless

Thinking I should just go with the normal issuer api call instead of the frameless call?

[2014-11-18 03:57] cmcavoy commented on #49
Fixed with https://github.com/mozilla/openbadges-badges/commit/2be3efbaf16da95f5eca013b3df315083e535576

[2014-11-18 03:57] #49 closed, assigned to nobody

[2015-09-02 10:48] atul-ebizon opened #50 "beta.openbadges.org is not responding"
Hi,

We have few sites that uses https://beta.openbadges.org/ for accessing and issuing badge.

But now it is not responding, in console log it says "NetworkError: 503 Service Unavailable:...d server is at capacity - https://beta.openbadges.org/" , please see attached image.

Please let us know if we need to change the url.
![openbadging-not-responding](https://cloud.githubusercontent.com/assets/1

[2015-09-02 13:19] jbuck commented on #50
@atul-ebizon Hi there! I've just restored access to the backpack so it should be working for you now. If you'd like to know more I'll be posting updates in https://github.com/MozillaFoundation/mofo-devops/issues/171

[2015-09-02 13:19] #50 closed, assigned to nobody

[2015-10-23 20:41] csprocket777 opened #51 "Getting Error page, no details to work with"
I've deployed this package to an internal server at my company.

After configuring it and running it, I simply arrive at a page that says "Error". There are no details with which to work to know what went wrong or what has been configured incorrectly.

How do I go about debugging this?

Here is my config.env file:

[code]

I don't have a mandril key so I'm simply providing SOME sort of value here.

[2015-10-23 22:47] csprocket777 commented on #45
What was causing this error? I'm experiencing the same situation on a self hosted instance of this.

[2015-10-26 19:25] csprocket777 commented on #51
For anyone else stumbling upon this error looking for help, here's how I solved it.
1. Edit the errors.js file at "app > views > errors.js".
2. in the error function, add a console.log in the line above the return. Something like "console.log(err)"
3. Run the app and look in the terminal for the specific error details to be logged.

This helped me understand what config details were missing.

[2015-10-26 19:25] #51 closed, assigned to nobody

[2019-02-18 00:47] ghost opened #52 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/openbadges-badges/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wikis

[2019-03-28 04:19] ghost opened #53 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The